:root {
  --primary-h: 195;
  --primary-s: 73.6%;
  --primary-l: 20.8%;

  --secondary-h: 196;
  --secondary-s: 80.4%;
  --secondary-l: 56.1%;

  --orange-h: 27;
  --orange-s: 98%;
  --orange-l: 54%;

  --green-h: 121;
  --green-s: 49%;
  --green-l: 46%;

  --red-h: 354;
  --red-s: 70.5%;
  --red-l: 53.5%;

  --color-light-delta: 15%;
  --color-dark-delta: 15%;

  --primary-light: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--color-light-delta)));
  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-dark: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--color-dark-delta)));
  --primary-light-rgb: 24, 125, 158;
  --primary-rgb: 14, 72, 92;
  --primary-dark-rgb: 4, 20, 26;

  --secondary-light: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + var(--color-light-delta)));
  --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
  --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) - var(--color-dark-delta)));
  --secondary-light-rgb: 122, 209, 241;
  --secondary-rgb: 53, 185, 233;
  --secondary-dark-rgb: 21, 144, 189;

  --orange-light: hsl(var(--orange-h), var(--orange-s), calc(var(--orange-l) + var(--color-light-delta)));
  --orange: hsl(var(--orange-h), var(--orange-s), var(--orange-l));
  --orange-dark: hsl(var(--orange-h), var(--orange-s), calc(var(--orange-l) - var(--color-dark-delta)));
  --orange-light-rgb: 253, 168, 98;
  --orange-rgb: 253, 126, 20;
  --orange-dark-rgb: 197, 90, 2;

  --green-light: hsl(var(--green-h), var(--green-s), calc(var(--green-l) + var(--color-light-delta)));
  --green: hsl(var(--green-h), var(--green-s), var(--green-l));
  --green-dark: hsl(var(--green-h), var(--green-s), calc(var(--green-l) - var(--color-dark-delta)));

  --red-light: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + var(--color-light-delta)));
  --red: hsl(var(--red-h), var(--red-s), var(--red-l));
  --red-dark: hsl(var(--red-h), var(--red-s), calc(var(--red-l) - var(--color-dark-delta)));

  --danger: #A94442;
  --danger-background: var(--danger-bg-subtle, #F2DEDE);
  --danger-border: var(--danger-border-subtle, #EBCCD1);
  --danger-text: var(--danger-text-emphasis, var(--danger));

  --info: #31708F;
  --info-background: var(--info-bg-subtle, #D9EDF7);
  --info-border: var(--info-border-subtle, #BCE8F1);
  --info-text: var(--info-text-emphasis, var(--info));

  --success: #3C763D;
  --success-background: var(--success-bg-subtle, #DFF0D8);
  --success-border: var(--success-border-subtle, #D6E9C6);
  --success-text: var(--success-text-emphasis, var(--success));

  --warning: #8A6D3B;
  --warning-background: var(--warning-bg-subtle, #FCF8E3);
  --warning-border: var(--warning-border-subtle, #FAEBCC);
  --warning-text: var(--warning-text-emphasis, var(--warning));

  --header-bg: var(--primary);
  --header-hover: var(--primary-light);
  --header-border-color: var(--primary);
  --footer-bg: var(--secondary);
  --footer-hover: var(--secondary-dark);

  --color-menu-bg-hover: var(--primary-light);
  --color-menu: white;
  --color-menu-hover: white;

  --color-mobile-menu-bg: var(--body-color);

  --link-color: var(--primary);
  --link-hover-color: var(--primary-light);
  --link-hover-color-rgb: var(--primary-light-rgb);

  --input-bg: var(--body-bg);
  --input-color: var(--body-color);
  --input-border-color: var(--gray-400);

  --input-disabled-color: var(--dark);
  --input-disabled-bg: var(--light);
  --input-disabled-border-color: var(--input-border-color);

  --header-height: 56px;
  --footer-height: 40px;

  --transition-duration: .5s;
}
