<div id="alerts">
    <div class="alerts">
        <div class="alert_container">
            {% block alert %}
                {% if app.session.flashBag.peekAll %}
                    {% for type, messages in app.session.flashBag.all %}
                        {% set withTimeout = false %}
                        {% if type ends with '--timeout' %}
                            {% set withTimeout = true %}
                            {% set type = type|replace({'--timeout': ''}) %}
                        {% endif %}
                        {% for message in messages %}
                            {% include '@FSchmidDevCore/_alert.html.twig' with { type: type, message: message|trans|raw } %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
